# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
env/
venv/
.venv/

# dotenv
.env

# MongoDB local data (if you ever dump)
dump/

# ignore raw JSON, but keep the plot
results/raw_results.json
!results/benchmark_plot.png

# IDE configs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Editor swap/temp files
*.swp
*~
